version: '3.9'

services:
  postgres:
    image: postgres:16
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: practical_course
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - microservices-net

  redis:
    image: redis:7
    container_name: redis
    restart: always
    ports:
      - "6379:6379"
    networks:
      - microservices-net

  user-service:
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: user-service
    restart: always
    depends_on:
      - postgres
      - redis
    ports:
      - "8080:8080"
    networks:
      - microservices-net

networks:
  microservices-net:
    external: true


networks:
  default:
    external: true
    name: microservices-net


volumes:
  postgres_data:
