name: User Service CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  analysis:
    runs-on: ubuntu-latest

    steps:
      # Клонируем репозиторий
      - name: Checkout code
        uses: actions/checkout@v3

      # Настраиваем JDK 21
      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 21

      # Сборка Maven-проекта
      - name: Build with Maven
        run: mvn clean compile

      # Запуск тестов (опционально)
      - name: Run tests
        run: mvn test

      # Анализ с SonarCloud
      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@v2
        with:
          args: >
            -Dsonar.projectKey=${{ secrets.SONAR_PROJECT_KEY }}
            -Dsonar.organization=${{ secrets.SONAR_ORG }}
            -Dsonar.host.url=https://sonarcloud.io
            -Dsonar.login=${{ secrets.SONAR_TOKEN }}
            -Dsonar.sources=src/main/java
            -Dsonar.tests=src/test/java
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
